<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/css/aboutglobal.css" />
    <link rel="stylesheet" href="/static/css/aboutindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="about">
      <div class="top-header">
        <div class="frame-parent">
          <div class="summer-sale-for-all-swim-suits-parent">
            <div class="summer-sale-for">
              Summer Sale For All Swim Suits And Free Express Delivery - OFF
              50%!
            </div>
            <div class="shopnow">ShopNow</div>
          </div>
          <div class="english-parent">
            <div class="english">English</div>
            <img class="dropdown-icon" alt="" src="./static/about/dropdown@2x.png" />
          </div>
        </div>
      </div>
      <div class="header">
        <div class="logo-parent">
          <div class="logo">
            <b class="exclusive">Cognitive Crew</b>
          </div>
          <div class="header-parent">
            <div class="header1">
              <a style="color: black;" href="{{ url_for('index') }}">
              <div class="home" id="homeText">Home</div>
              </a>
            </div>
            <div class="header2">
              <a style="color: black; text-decoration: none;" href="{{ url_for('Contact') }}">
              <div class="exclusivegmailcom">Contact</div>
              </a>
            </div>
            <div class="header1">
              <a style="color: black; text-decoration: none;" href="{{ url_for('about') }}">
              <div class="about">About</div></a>
            </div>
            <div class="header4">
              <a style="color: black; text-decoration: none;" href="{{ url_for('signup') }}">
              <div class="about">Sign Up</div>
              </a>

            </div>
          </div>
        </div>
        <div class="search-component-set-parent">
          <div class="search-component-set">
            <div class="what-are-you-looking-for-parent">
              <div class="what-are-you">What are you looking for?</div>
              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/component-2@2x.png"
              />
            </div>
          </div>
          <div class="wishlist-parent">
            <img class="wishlist-icon" alt="" src="./static/about/wishlist@2x.png" />

            <img
              class="cart1-with-buy"
              alt=""
              src="./static/about/cart1-with-buy@2x.png"
            />

            <img class="wishlist-icon" alt="" src="./static/about/user@2x.png" />
          </div>
        </div>
      </div>
      <img class="about-child" alt="" src="./static/about/line-3@2x.png" />

      <div class="roadmap">
        <div class="account">Home</div>
        <img class="roadmap-child" alt="" src="./static/about/line-13@2x.png" />

        <div class="english">About</div>
        <img class="roadmap-item" alt="" />

        <div class="nothing1">Nothing</div>
        <img class="roadmap-item" alt="" />

        <div class="nothing1">Nothing</div>
        <img class="roadmap-item" alt="" />

        <div class="nothing1">Nothing</div>
      </div>
      <div class="our-story-parent">
        <div class="our-story">Our Story</div>
        <div class="launced-in-2015-exclusive-is-parent">
          <div class="launced-in-2015">
            Launced in 2015, Exclusive is South Asia’s premier online shopping
            makterplace with an active presense in Bangladesh. Supported by wide
            range of tailored marketing, data and service solutions, Exclusive
            has 10,500 sallers and 300 brands and serves 3 millioons customers
            across the region.
            
            Launced in 2015, Exclusive is South Asia’s premier online shopping
            makterplace with an active presense in Bangladesh. Supported by wide
            range of tailored marketing, data and service solutions, Exclusive
            has 10,500 sallers and 300 brands and serves 3 millioons customers
            across the region.

          </div>
         
        </div>
      </div>
      <div class="side-image">
        <img
          class="portrait-two-african-females-h-icon"
          alt=""
          src="./static/about/portraittwoafricanfemalesholdingshoppingbagswhilereactingsomethingtheirsmartphone-1@2x.png"
        />
      </div>
      <div class="full-services">
        <div class="services-parent">
          <img class="services-icon" alt="" src="./static/about/services@2x.png" />

          <div class="free-and-fast-delivery-parent">
            <div class="free-and-fast">FREE AND FAST DELIVERY</div>
            <div class="free-delivery-for">
              Free delivery for all orders over ₹140
            </div>
          </div>
        </div>
        <div class="services-group">
          <img class="services-icon" alt="" src="./static/about/services@2x.png" />

          <div class="customer-service-parent">
            <div class="free-and-fast">24/7 CUSTOMER SERVICE</div>
            <div class="friendly-247-customer">
              Friendly 24/7 customer support
            </div>
          </div>
        </div>
        <div class="services-container">
          <img class="services-icon" alt="" />

          <div class="free-and-fast-delivery-parent">
            <div class="free-and-fast">MONEY BACK GUARANTEE</div>
            <div class="friendly-247-customer">
              We reurn money within 30 days
            </div>
          </div>
        </div>
        <div class="services-parent">
          <img class="services-icon" alt="" src="./static/about/services@2x.png" />

          <div class="free-and-fast-delivery-parent">
            <div class="free-and-fast">MONEY BACK GUARANTEE</div>
            <div class="friendly-247-customer">
              We reurn money within 30 days
            </div>
          </div>
        </div>
      </div>
      <div class="frame-group">
        <div class="instance-wrapper">
          <div class="services-parent1">
            <img class="services-icon" alt="" src="./static/about/services@2x.png" />

            <div class="free-and-fast-delivery-group">
              <b class="free-and-fast1">10.5k </b>
              <div class="free-delivery-for1">Sallers active our site</div>
            </div>
          </div>
        </div>
        <div class="instance-container">
          <div class="services-parent2">
            <img class="services-icon" alt="" src="./static/about/services@2x.png" />

            <div class="free-and-fast-delivery-parent">
              <b class="free-and-fast1">33k</b>
              <div class="founder-chairman">Mopnthly Produduct Sale</div>
            </div>
          </div>
        </div>
        <div class="instance-wrapper">
          <div class="services-parent3">
            <img class="services-icon" alt="" src="./static/about/services@2x.png" />

            <div class="customer-service-group">
              <b class="free-and-fast1">45.5k</b>
              <div class="founder-chairman">Customer active in our site</div>
            </div>
          </div>
        </div>
        <div class="instance-wrapper">
          <div class="services-parent4">
            <img class="services-icon" alt="" src="./static/about/services@2x.png" />

            <div class="free-and-fast-delivery-group">
              <b class="free-and-fast1">25k</b>
              <div class="founder-chairman">Anual gross sale in our site</div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-container">
        <div class="frame-parent1">
          <div class="image-46-wrapper">
            <img class="image-46-icon" alt="" src="/static/about/balaji.jpg" />
          </div>
          <div class="frame-parent2">
            <div class="tom-cruise-parent">
              <div class="tom-cruise">N Balaji</div>
              <div class="founder-chairman">Chairman</div>
            </div>
            <div class="icon-twitter-parent">
              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/icontwitter@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/iconinstagram@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/iconlinkedin@2x.png"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent1">
          <div class="image-46-wrapper">
            <img class="image-51-icon" alt="" src="static/about/kousik.jpg" />
          </div>
          <div class="frame-parent2">
            <div class="tom-cruise-parent">
              <div class="tom-cruise">Kousik</div>
              <div class="founder-chairman">Co founder</div>
            </div>
            <div class="icon-twitter-parent">
              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/icontwitter@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/iconinstagram@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/iconlinkedin@2x.png"
              />
            </div>
          </div>
        </div>
        <div class="frame-parent1">
          <div class="image-46-wrapper">
            <img class="image-47-icon" alt="" src="/static/about/vineeth.png" />
          </div>
          <div class="frame-parent2">
            <div class="tom-cruise-parent">
              <div class="tom-cruise">Krishna Vineeth</div>
              <div class="founder-chairman">Graphic Designer</div>
            </div>
            <div class="icon-twitter-parent">
              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/icontwitter@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/iconinstagram@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/iconlinkedin@2x.png"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="ellipse-parent">
        <div class="frame-child"></div>
        <div class="frame-child"></div>
        <img
          class="frame-inner"
          alt=""
          src="./static/about/group-1000005940@2x.png"
        />

        <div class="frame-child"></div>
        <div class="frame-child"></div>
      </div>
      <div class="footer">
        <div class="underline-parent">
          <img class="underline-icon1" alt="" src="./static/about/underline@2x.png" />

          <div class="frame-wrapper">
            <div class="icon-copyright-parent">
              <img
                class="icon-copyright"
                alt=""
                src="./static/about/iconcopyright@2x.png"
              />

              <div class="exclusivegmailcom">
                Copyright Rimel 2022. All right reserved
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent7">
          <div class="frame-parent8">
            <div class="logo-group">
              <div class="logo-group">
                <div class="logo">
                  <b class="exclusive">Exclusive</b>
                </div>
                <div class="subscribe">Subscribe</div>
              </div>
              <div class="founder-chairman">Get 10% off your first order</div>
            </div>
            <div class="send-mail">
              <div class="enter-your-email">Enter your email</div>
              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/iconsend@2x.png"
              />
            </div>
          </div>
          <div class="logo-group">
            <div class="support">Support</div>
            <div class="bijoy-sarani-dhaka-dh-1515-parent">
              <div class="bijoy-sarani-dhaka">
                111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.
              </div>
              <div class="exclusivegmailcom">exclusive@gmail.com</div>
              <div class="exclusivegmailcom">+88015-88888-9999</div>
            </div>
          </div>
          <div class="logo-group">
            <div class="support">Account</div>
            <div class="bijoy-sarani-dhaka-dh-1515-parent">
              <div class="exclusivegmailcom">My Account</div>
              <div class="exclusivegmailcom">Login / Register</div>
              <div class="exclusivegmailcom">Cart</div>
              <div class="exclusivegmailcom">Wishlist</div>
              <div class="exclusivegmailcom">Shop</div>
            </div>
          </div>
          <div class="logo-group">
            <div class="support">Quick Link</div>
            <div class="bijoy-sarani-dhaka-dh-1515-parent">
              <div class="exclusivegmailcom">Privacy Policy</div>
              <div class="exclusivegmailcom">Terms Of Use</div>
              <div class="exclusivegmailcom">FAQ</div>
              <div class="exclusivegmailcom">Contact</div>
            </div>
          </div>
          <div class="logo-group">
            <div class="logo-group">
              <div class="support">Download App</div>
              <div class="save-3-with-app-new-user-only-parent">
                <div class="save-3-with">Save ₹3 with App New User Only</div>
                <div class="summer-sale-for-all-swim-suits-parent">
                  
                  <div class="googleplay-parent">
                    <img
                      class="googleplay-icon"
                      alt=""
                      src="./static/about/googleplay@2x.png"
                    />

                    <div class="appstore">
                      <img
                        class="download-appstore-icon"
                        alt=""
                        src="./static/about/downloadappstore@2x.png"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="icon-facebook-parent">
              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/iconfacebook@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/icontwitter@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/iconinstagram@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="./static/about/iconlinkedin@2x.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var headerContainer1 = document.getElementById("headerContainer1");
      if (headerContainer1) {
        headerContainer1.addEventListener("click", function (e) {
          // Please sync "Contact" to the project
        });
      }
      </script>
  </body>
</html>
