<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/css/signinglobal.css" />
    <link rel="stylesheet" href="/static/css/signinindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap"
    />
  </head>
  <body>
    <div class="log-in">
      <div class="top-header">
        <div class="frame-parent">
          <div class="summer-sale-for-all-swim-suits-parent">
            <div class="summer-sale-for">
              Summer Sale For All Swim Suits And Free Express Delivery - OFF
              50%!
            </div>
            <div class="shopnow">ShopNow</div>
          </div>
          <div class="english-parent">
            <div class="english">English</div>
            <img class="dropdown-icon" alt="" src="/static/signin/dropdown@2x.png" />
          </div>
        </div>
      </div>
      <div class="header">
        <div class="logo-parent">
          <div class="logo" id="logoContainer">
            <b class="exclusive">cognitive crew</b>
          </div>
          <div class="header-parent">
            <div class="header1">
              <a style="color: black;" href="{{ url_for('index') }}">
              <div class="home" id="homeText">Home</div>
              </a>
            </div>
            <div class="header2">
              <a style="color: black; text-decoration: none;" href="{{ url_for('Contact') }}">
              <div class="exclusivegmailcom">Contact</div>
              </a>
            </div>
            <div class="header3">
              <a style="color: black; text-decoration: none;" href="{{ url_for('about') }}">
              <div class="about">About</div></a>
            </div>
            <div class="header4">
              <a style="color: black; text-decoration: none;" href="{{ url_for('signup') }}">
              <div class="about">Sign Up</div></a>
            </div>
            </div>
        </div>
        <div class="search-component-set-parent">
          <div class="search-component-set">
            <div class="what-are-you-looking-for-parent">
              <div class="what-are-you">What are you looking for?</div>
              <img
                class="dropdown-icon"
                alt=""
                src="/static/signin/component-2@2x.png"
              />
            </div>
          </div>
          <div class="wishlist-parent">
            <img class="wishlist-icon" alt="" />

            <div class="cart1-with-buy">
              <img class="cart1-icon" alt="" />

              <div class="ellipse-parent">
                <div class="group-child"></div>
                <div class="div">2</div>
              </div>
            </div>
            <img class="user-icon" alt="" />
          </div>
        </div>
      </div>
      <img class="log-in-child" alt="" src="/static/signin/line-3@2x.png" />

      <div class="side-image-parent">
        <div class="side-image">
          <img
            class="dlbeatsnoop-1-icon"
            alt=""
            src="/static/signin/dlbeatsnoop-1@2x.png"
          />
        </div>
        <div class="frame-group">
          <div class="frame-container">
            <div class="log-in-to-exclusive-parent">
              <div class="log-in-to">Log in to Exclusive</div>
              <div class="enter-your-details">Enter your details below</div>
            </div>
            <div class="frame-div">
              <div class="email-or-phone-number-parent">
                <!-- ADD STYLE -->
                <input type="text" placeholder="Enter username" class="email-or-phone" id="username"></input>  

                <img
                  class="underline-icon"
                  alt=""
                  src="/static/signin/underline@2x.png"
                />
              </div>
              <div class="email-or-phone-number-parent">
                <input type="password" placeholder="Enter password" class="email-or-phone" id="password"></input>  
                <img
                  class="underline-icon"
                  alt=""
                  src="/static/signin/underline@2x.png"
                />
              </div>
            </div>
          </div>
          <div class="frame-parent1">
            <div class="button-wrapper">
              <div class="button">
                <div class="view-all-products" id="loginButton" style="cursor: pointer;" >Log In</div>
              </div>
            </div>
            <div class="forget-password">Forget Password?</div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="underline-parent">
          <img class="underline-icon2" alt="" src="/static/signin/underline@2x.png" />

          <div class="frame-wrapper">
            <div class="icon-copyright-parent">
              <img
                class="icon-copyright"
                alt=""
                src="/static/signin/iconcopyright@2x.png"
              />

              <div class="exclusivegmailcom">
                Copyright Rimel 2022. All right reserved
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent2">
          <div class="frame-parent3">
            <div class="log-in-to-exclusive-parent">
              <div class="log-in-to-exclusive-parent">
                <div class="logo1">
                  <b class="exclusive">Exclusive</b>
                </div>
                <div class="subscribe">Subscribe</div>
              </div>
              <div class="enter-your-details">Get 10% off your first order</div>
            </div>
            <div class="send-mail">
              <div class="email-or-phone">Enter your email</div>
              <img
                class="dropdown-icon"
                alt=""
                src="/static/signin/iconsend@2x.png"
              />
            </div>
          </div>
          <div class="log-in-to-exclusive-parent">
            <div class="support">Support</div>
            <div class="bijoy-sarani-dhaka-dh-1515-parent">
              <div class="bijoy-sarani-dhaka">
                111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.
              </div>
              <div class="exclusivegmailcom">exclusive@gmail.com</div>
              <div class="exclusivegmailcom">+88015-88888-9999</div>
            </div>
          </div>
          <div class="log-in-to-exclusive-parent">
            <div class="support">Account</div>
            <div class="bijoy-sarani-dhaka-dh-1515-parent">
              <div class="exclusivegmailcom">My Account</div>
              <div class="exclusivegmailcom">Login / Register</div>
              <div class="exclusivegmailcom">Cart</div>
              <div class="exclusivegmailcom">Wishlist</div>
              <div class="exclusivegmailcom">Shop</div>
            </div>
          </div>
          <div class="log-in-to-exclusive-parent">
            <div class="support">Quick Link</div>
            <div class="bijoy-sarani-dhaka-dh-1515-parent">
              <div class="exclusivegmailcom">Privacy Policy</div>
              <div class="exclusivegmailcom">Terms Of Use</div>
              <div class="exclusivegmailcom">FAQ</div>
              <div class="exclusivegmailcom">Contact</div>
            </div>
          </div>
          <div class="log-in-to-exclusive-parent">
            <div class="log-in-to-exclusive-parent">
              <div class="support">Download App</div>
              <div class="save-3-with-app-new-user-only-parent">
                <div class="save-3-with">Save $3 with App New User Only</div>
                <div class="summer-sale-for-all-swim-suits-parent">
                  <div class="qr-code">
                    <img
                      class="qrcode-1-icon"
                      alt=""
                      src="/static/signin/qrcode-1@2x.png"
                    />
                  </div>
                  <div class="googleplay-parent">
                    <img
                      class="googleplay-icon"
                      alt=""
                      src="/static/signin/googleplay@2x.png"
                    />

                    <div class="appstore">
                      <img
                        class="download-appstore-icon"
                        alt=""
                        src="/static/signin/downloadappstore@2x.png"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="icon-facebook-parent">
              <img
                class="dropdown-icon"
                alt=""
                src="/static/signin/iconfacebook@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="/static/signin/icontwitter@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="/static/signin/iconinstagram@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="/static/signin/iconlinkedin@2x.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <script defer type="module">

       import { initializeApp } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";
       import { getDatabase, ref, set, get, child } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-database.js";
       
       
   const firebaseConfig = {
    apiKey: "AIzaSyBKewrCsLb7rz-P-QfKzJw7a93Cok3S5VA",
    authDomain: "ibm-coderush.firebaseapp.com",
    databaseURL: "https://ibm-coderush-default-rtdb.firebaseio.com",
    projectId: "ibm-coderush",
    storageBucket: "ibm-coderush.appspot.com",
    messagingSenderId: "521680123643",
    appId: "1:521680123643:web:31cd49ea3246863889225e",
    measurementId: "G-NYYEL2EZ9Q"
};
    // Initialize Firebase
       const app = initializeApp(firebaseConfig);

    //get ref to database services
        const db = getDatabase(app);

        var logoContainer = document.getElementById("logoContainer");
        if (logoContainer) {
          logoContainer.addEventListener("click", function (e) {
            // Please sync "E-Commerce HomePage" to the project
          });
        }
        
        var homeText = document.getElementById("homeText");
        if (homeText) {
          homeText.addEventListener("click", function (e) {
            // Please sync "E-Commerce HomePage" to the project
          });
        }

        var loginBtn = document.getElementById("loginButton");
        var usernameInput = document.getElementById("username");
        var passwordInput = document.getElementById("password");


        loginBtn.addEventListener("click", () => {
          if ( !usernameInput.value || !passwordInput.value ) {
            alert("fill both fields");
            return;
          }

          const userRef = ref(db, `user/${usernameInput.value}`);

        // Retrieve user details
          get(userRef)
            .then((snapshot) => {
                const userDetails = snapshot.val();
                if (userDetails == null) {
                  alert("No username found");
                  return;
                }
                else {
                  if (userDetails.password === passwordInput.value) {
                    window.open("/checkout")
                  }
                  else {
                    alert("Wrong password")
                  }
                }


                // Now you can use the userDetails as needed
            })
            .catch((error) => {
                console.error("Error retrieving user details: ", error);
          });

        })

    </script>
  </body>
</html>
