<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/css/wishlistglobal.css" />
    <link rel="stylesheet" href="/static/css/wishlistindex.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="wishlist">
      <div class="top-header">
        <div class="frame-parent">
          <div class="summer-sale-for-all-swim-suits-parent">
            <div class="summer-sale-for">
              Summer Sale For All Swim Suits And Free Express Delivery - OFF
              50%!
            </div>
            <div class="shopnow">ShopNow</div>
          </div>
          <div class="english-parent">
            <div class="english">English</div>
            <img class="dropdown-icon" alt="" src="/static/wishlist/dropdown@2x.png" />
          </div>
        </div>
      </div>
      <div class="header">
        <div class="logo-parent">
          <div class="logo">
            <b class="exclusive">Cognitive crew</b>
          </div>
          <div class="header-parent">
            <div class="header1">
              <div class="home" id="homeText">Home</div>
            </div>
            <div class="header2">
              <div class="contact">Contact</div>
            </div>
            <div class="header1">
              <div class="contact">About</div>
            </div>
            <div class="header4">
              <div class="contact">Sign Up</div>
            </div>
          </div>
        </div>
        <div class="search-component-set-parent">
          <div class="search-component-set">
            <div class="what-are-you-looking-for-parent">
              <div class="what-are-you">What are you looking for?</div>
              <img
                class="dropdown-icon"
                alt=""
                src="/static/wishlist/component-2@2x.png"
              />
            </div>
          </div>
          <div class="wishlist-parent">
            <div class="wishlist1">
              <img class="vector-icon" alt="" src="/static/wishlist/vector@2x.png" />

              <div class="ellipse-parent">
                <div class="group-child"></div>
                <div class="div">4</div>
              </div>
            </div>
            <img
              class="cart1-with-buy"
              alt=""
              src="/static/wishlist/cart1-with-buy@2x.png"
            />

            <img class="user-icon" alt="" src="/static/wishlist/user@2x.png" />
          </div>
        </div>
      </div>
      <img class="wishlist-child" alt="" src="/static/wishlist/line-3@2x.png" />

      <div class="footer">
        <div class="underline-parent">
          <img class="underline-icon" alt="" src="/static/wishlist/underline@2x.png" />

          <div class="frame-wrapper">
            <div class="icon-copyright-parent">
              <img
                class="icon-copyright"
                alt=""
                src="/static/wishlist/iconcopyright@2x.png"
              />

              <div class="exclusivegmailcom">
                Copyright Rimel 2022. All right reserved
              </div>
            </div>
          </div>
        </div>
        <div class="frame-group">
          <div class="frame-container">
            <div class="frame-div">
              <div class="frame-div">
                <div class="logo">
                  <b class="exclusive">Exclusive</b>
                </div>
                <div class="subscribe">Subscribe</div>
              </div>
              <div class="get-10-off">Get 10% off your first order</div>
            </div>
            <div class="send-mail">
              <div class="enter-your-email">Enter your email</div>
              <img
                class="dropdown-icon"
                alt=""
                src="/static/wishlist/iconsend@2x.png"
              />
            </div>
          </div>
          <div class="frame-div">
            <div class="support">Support</div>
            <div class="bijoy-sarani-dhaka-dh-1515-parent">
              <div class="bijoy-sarani-dhaka">
                111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.
              </div>
              <div class="exclusivegmailcom">exclusive@gmail.com</div>
              <div class="exclusivegmailcom">+88015-88888-9999</div>
            </div>
          </div>
          <div class="frame-div">
            <div class="support">Account</div>
            <div class="bijoy-sarani-dhaka-dh-1515-parent">
              <div class="exclusivegmailcom">My Account</div>
              <div class="exclusivegmailcom">Login / Register</div>
              <div class="exclusivegmailcom">Cart</div>
              <div class="exclusivegmailcom">Wishlist</div>
              <div class="exclusivegmailcom">Shop</div>
            </div>
          </div>
          <div class="frame-div">
            <div class="support">Quick Link</div>
            <div class="bijoy-sarani-dhaka-dh-1515-parent">
              <div class="exclusivegmailcom">Privacy Policy</div>
              <div class="exclusivegmailcom">Terms Of Use</div>
              <div class="exclusivegmailcom">FAQ</div>
              <div class="exclusivegmailcom">Contact</div>
            </div>
          </div>
          <div class="frame-div">
            <div class="frame-div">
              <div class="support">Download App</div>
              <div class="save-3-with-app-new-user-only-parent">
                <div class="save-3-with">Save ₹3 with App New User Only</div>
                <div class="summer-sale-for-all-swim-suits-parent">
                  
                  <div class="googleplay-parent">
                    <img
                      class="googleplay-icon"
                      alt=""
                      src="/static/wishlist/googleplay@2x.png"
                    />

                    <div class="appstore">
                      <img
                        class="download-appstore-icon"
                        alt=""
                        src="/static/wishlist/downloadappstore@2x.png"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="icon-facebook-parent">
              <img
                class="dropdown-icon"
                alt=""
                src="/static/wishlist/iconfacebook@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="/static/wishlist/icontwitter@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="/static/wishlist/iconinstagram@2x.png"
              />

              <img
                class="dropdown-icon"
                alt=""
                src="/static/wishlist/iconlinkedin@2x.png"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="frame-parent2">
        <div class="frame-parent3">
          <div class="wishlist-4-parent">
            <div class="just-for-you">Wishlist (4)</div>
            <div class="button">
              <div class="view-all-products">Move All To Bag</div>
            </div>
          </div>
          <div class="cart-parent">
            <div class="cart1">
              <div class="cart2">
                <div class="cart-child"></div>
                <div class="fill-eye-wrapper">
                  <img
                    class="fill-eye-icon"
                    alt=""
                    src="/static/wishlist/fill-eye@2x.png"
                  />
                </div>
                <div class="discount-percent">
                  <div class="add-to-cart">-35%</div>
                </div>
                <div class="c2st-8746-001-082-0000-light-g-wrapper">
                  <img
                    class="c2st-8746-001-082-0000-light-g-icon"
                    alt=""
                    src="/static/wishlist/547953-9c2st-8746-001-082-0000-lightguccisavoymediumdufflebag-1@2x.png"
                  />
                </div>
                <div class="cart1-parent">
                  <img
                    class="dropdown-icon"
                    alt=""
                    src="/static/wishlist/cart1@2x.png"
                  />

                  <div class="add-to-cart">Add To Cart</div>
                </div>
              </div>
              <div class="gucci-duffle-bag-parent">
                <div class="view-all-products">Gucci duffle bag</div>
                <div class="parent">
                  <div class="view-all-products">₹960</div>
                  <div class="div4">₹1160</div>
                </div>
              </div>
            </div>
            <div class="cart3">
              <div class="cart2">
                <div class="cart-child"></div>
                <div class="fill-eye-wrapper">
                  <img
                    class="fill-eye-icon"
                    alt=""
                    src="/static/wishlist/fill-eye@2x.png"
                  />
                </div>
                <div class="cart1-group">
                  <img
                    class="dropdown-icon"
                    alt=""
                    src="/static/wishlist/cart1@2x.png"
                  />

                  <div class="add-to-cart">Add To Cart</div>
                </div>
                <div class="gammaxx-l240-argb-1-500x500-1-wrapper">
                  <img
                    class="gammaxx-l240-argb-1-500x500-1-icon"
                    alt=""
                    src="/static/wishlist/gammaxxl240argb1500x500-1@2x.png"
                  />
                </div>
              </div>
              <div class="gucci-duffle-bag-parent">
                <div class="view-all-products">RGB liquid CPU Cooler</div>
                <div class="wrapper">
                  <div class="view-all-products">₹1960</div>
                </div>
              </div>
            </div>
            <div class="cart3">
              <div class="cart2">
                <div class="cart-child"></div>
                <div class="fill-eye-wrapper">
                  <img
                    class="fill-eye-icon"
                    alt=""
                    src="/static/wishlist/fill-eye@2x.png"
                  />
                </div>
                <div class="cart1-group">
                  <img
                    class="dropdown-icon"
                    alt=""
                    src="/static/wishlist/cart1@2x.png"
                  />

                  <div class="add-to-cart">Add To Cart</div>
                </div>
                <div class="gp11-prd3-1-wrapper">
                  <img
                    class="gp11-prd3-1-icon"
                    alt=""
                    src="/static/wishlist/gp11-prd3-1@2x.png"
                  />
                </div>
              </div>
              <div class="gucci-duffle-bag-parent">
                <div class="view-all-products">GP11 Shooter USB Gamepad</div>
                <div class="wrapper">
                  <div class="view-all-products">₹550</div>
                </div>
              </div>
            </div>
            <div class="cart3">
              <div class="cart2">
                <div class="cart-child"></div>
                <div class="fill-eye-wrapper">
                  <img
                    class="fill-eye-icon"
                    alt=""
                    src="/static/wishlist/fill-eye@2x.png"
                  />
                </div>
                <div class="cart1-group">
                  <img
                    class="dropdown-icon"
                    alt=""
                    src="/static/wishlist/cart1@2x.png"
                  />

                  <div class="add-to-cart">Add To Cart</div>
                </div>
                <div class="gp11-prd3-1-wrapper">
                  <img
                    class="z8a1x-3475-001-100-0000-light-icon"
                    alt=""
                    src="/static/wishlist/698717-z8a1x-3475-001-100-0000-lightreversiblequiltedsatinjacket-1@2x.png"
                  />
                </div>
              </div>
              <div class="gucci-duffle-bag-parent">
                <div class="view-all-products">Quilted Satin Jacket</div>
                <div class="wrapper">
                  <div class="view-all-products">₹750</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent3">
          <div class="frame-parent5">
            <div class="category-rectangle-parent">
              <div class="category-rectangle">
                <div class="category-rectangle-child"></div>
              </div>
              <div class="just-for-you">Just For You</div>
            </div>
            <div class="button">
              <div class="view-all-products">See All</div>
            </div>
          </div>
          <div class="cart-group">
            <div class="cart3">
              <div class="cart2">
                <div class="cart-child"></div>
                <div class="fill-eye-wrapper">
                  <img
                    class="fill-eye-icon"
                    alt=""
                    src="/static/wishlist/fill-eye@2x.png"
                  />
                </div>
                <div class="discount-percent">
                  <div class="add-to-cart">-35%</div>
                </div>
                <div class="cart1-parent2">
                  <img
                    class="dropdown-icon"
                    alt=""
                    src="/static/wishlist/cart1@2x.png"
                  />

                  <div class="add-to-cart">Add To Cart</div>
                </div>
                <div class="gp11-prd3-1-wrapper">
                  <img
                    class="ideapad-gaming-3i-01-500x500-1-icon"
                    alt=""
                    src="/static/wishlist/ideapadgaming3i01500x500-1@2x.png"
                  />
                </div>
              </div>
              <div class="gucci-duffle-bag-parent">
                <div class="view-all-products">ASUS FHD Gaming Laptop</div>
                <div class="parent">
                  <div class="view-all-products">₹960</div>
                  <div class="div4">₹1160</div>
                </div>
                <div class="five-star-parent">
                  <div class="five-star">
                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />
                  </div>
                  <div class="div11">(65)</div>
                </div>
              </div>
            </div>
            <div class="cart11">
              <div class="cart2">
                <div class="cart-child"></div>
                <div class="fill-eye-wrapper">
                  <img
                    class="fill-eye-icon"
                    alt=""
                    src="/static/wishlist/fill-eye@2x.png"
                  />
                </div>
                <div class="cart1-parent3">
                  <img
                    class="dropdown-icon"
                    alt=""
                    src="/static/wishlist/cart1@2x.png"
                  />

                  <div class="add-to-cart">Add To Cart</div>
                </div>
                <div class="gp11-prd3-1-wrapper">
                  <img
                    class="g27cq4-500x500-1-icon"
                    alt=""
                    src="/static/wishlist/g27cq4500x500-1@2x.png"
                  />
                </div>
              </div>
              <div class="gucci-duffle-bag-parent">
                <div class="view-all-products">IPS LCD Gaming Monitor</div>
                <div class="wrapper">
                  <div class="view-all-products">₹1160</div>
                </div>
                <div class="five-star-parent">
                  <div class="five-star">
                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />
                  </div>
                  <div class="div11">(65)</div>
                </div>
              </div>
            </div>
            <div class="cart3">
              <div class="cart2">
                <div class="cart-child"></div>
                <div class="fill-eye-wrapper">
                  <img
                    class="fill-eye-icon"
                    alt=""
                    src="/static/wishlist/fill-eye@2x.png"
                  />
                </div>
                <div class="new-button">
                  <div class="add-to-cart">NEW</div>
                </div>
                <div class="cart1-parent2">
                  <img
                    class="dropdown-icon"
                    alt=""
                    src="/static/wishlist/cart1@2x.png"
                  />

                  <div class="add-to-cart">Add To Cart</div>
                </div>
                <div class="gp11-prd3-1-wrapper">
                  <img
                    class="g92-2-500x500-1-icon"
                    alt=""
                    src="/static/wishlist/g922500x500-1@2x.png"
                  />
                </div>
              </div>
              <div class="gucci-duffle-bag-parent">
                <div class="view-all-products">HAVIT HV-G92 Gamepad</div>
                <div class="wrapper">
                  <div class="view-all-products">₹560</div>
                </div>
                <div class="five-star-parent">
                  <div class="five-star">
                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />
                  </div>
                  <div class="div11">(65)</div>
                </div>
              </div>
            </div>
            <div class="cart11">
              <div class="cart2">
                <div class="cart-child"></div>
                <div class="fill-eye-wrapper">
                  <img
                    class="fill-eye-icon"
                    alt=""
                    src="/static/wishlist/fill-eye@2x.png"
                  />
                </div>
                <div class="cart1-parent3">
                  <img
                    class="dropdown-icon"
                    alt=""
                    src="/static/wishlist/cart1@2x.png"
                  />

                  <div class="add-to-cart">Add To Cart</div>
                </div>
                <div class="gp11-prd3-1-wrapper">
                  <img
                    class="ak-900-01-500x500-1-icon"
                    alt=""
                    src="/static/wishlist/ak90001500x500-1@2x.png"
                  />
                </div>
              </div>
              <div class="gucci-duffle-bag-parent">
                <div class="view-all-products">AK-900 Wired Keyboard</div>
                <div class="wrapper">
                  <div class="view-all-products">₹200</div>
                </div>
                <div class="five-star-parent">
                  <div class="five-star">
                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />

                    <img
                      class="vector-icon1"
                      alt=""
                      src="/static/wishlist/vector@2x.png"
                    />
                  </div>
                  <div class="div11">(65)</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var homeText = document.getElementById("homeText");
      if (homeText) {
        homeText.addEventListener("click", function (e) {
          // Please sync "E-Commerce HomePage" to the project
        });
      }
      </script>
  </body>
</html>
